* {
  margin: 0 0 0 0;
  /* padding: 10px; */
  box-sizing: border-box;
}

body {
  background-color: #111111;
}

h1 {
  color: white;
}

/*** QUEUE CHART ***/

.queueBars {
  grid-area: queueBars;

  display: flex;
  justify-content: center;
}

#barParent {
  background-color: #1d1d1d;
  display: flex;
  align-items: flex-end;
  height: 100%;

  align-self: flex-end;
}

.bars {
  width: 3vw;
  height: calc(var(--height) * 30px);
  margin-left: 5px;
  margin-bottom: 10px;
  border: #bc86fc solid;
  border-radius: 10px 10px 0px 0px;
  background-color: #bc86fc;
}

/*** QUEUE LENGTH ***/
.queueLength {
  grid-area: queueLength;
}

.queueLength h1 {
  font-size: 1.5rem;
}

.queueLength h2 {
  color: white;
  text-align: end;
  font-size: 3rem;
}

.costumer_images {
  display: flex;
}

.costumer_img img {
  width: 100%;
}

.costumer_img {
  height: 20px;
  width: 20px;
}

/*** BARTENDER STATUS ***/
.bartenderStatus {
  grid-area: bartenderStatus;
}

.bartenderStatus h2,
h3,
h4 {
  color: white;
}

.bartenderList {
  margin-top: 20px;
  display: flex;
}

.bartender_wrapper {
  width: 20vw;
}

/*** TOTAL EARNINGS ***/
.totalEarnings {
  grid-area: totalEarnings;
}

/***** BEER STORAGE ****/

.single-chart {
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #222224;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke-dasharray: var(--stroke), 100;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #bc86fc;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.right {
  grid-area: right;
}

.beer {
  padding: 10px;
}

.storage_bar {
  width: calc(var(--width) * 10px);
  height: 10px;
  margin: auto;
  margin-left: 1px;
  border: #bc86fc solid;
  border-radius: 10%;
  background-color: #bc86fc;
}

.storage_image img {
  width: 50px;
  height: 50px;
}

#storage_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10vw;
  margin-left: 2vw;
}

#storage_parent h2 {
  color: white;
  font-size: 1.2rem;
}

.content {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 32vw;
  grid-template-rows: auto;
  grid-template-areas:
    "queueBars queueBars queueLength right"
    "bartenderStatus bartenderStatus bartenderStatus right"
    "totalEarnings totalEarnings totalEarnings right";

  column-gap: 20px;
  row-gap: 20px;

  height: 100vh;
  padding: 20px;
}

.box {
  border: black solid 2px;
  background-color: #1d1d1d;
}
