.queueBars {
  grid-area: queueBars;

  display: flex;
  justify-content: center;
}

#barParent {
  background-color: #1d1d1d;
  display: flex;
  align-items: flex-end;
  height: 100%;

  align-self: flex-end;
}

.bars {
  width: 3vw;
  height: calc(var(--height) * 30px);
  margin-left: 5px;
  margin-bottom: 10px;
  border: #bc86fc solid;
  border-radius: 10px 10px 0px 0px;
  background-color: #bc86fc;
}
